<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Highlights:</strong>
  <%= @asset.highlights %>
</p>

<p>
  <strong>Size:</strong>
  <%= @asset.size %>
</p>

<p>
  <strong>Size type:</strong>
  <%= @asset.size_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @asset.price %>
</p>

<p>
  <strong>Price psf:</strong>
  <%= @asset.price_psf %>
</p>

<p>
  <strong>Dnd price:</strong>
  <%= @asset.dnd_price %>
</p>

<p>
  <strong>Cap rate:</strong>
  <%= @asset.cap_rate %>
</p>

<p>
  <strong>Occupancy:</strong>
  <%= @asset.occupancy %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @asset.year_built %>
</p>

<p>
  <strong>Offer date:</strong>
  <%= @asset.offer_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @asset.visibility %>
</p>

<p>
  <strong>Ended:</strong>
  <%= @asset.ended %>
</p>

<p>
  <strong>Address:</strong>
  <%= @asset.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @asset.address_2 %>
</p>

<p>
  <strong>State:</strong>
  <%= @asset.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @asset.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @asset.zip %>
</p>

<p>
  <strong>Website:</strong>
  <%= @asset.website %>
</p>

<p>
  <strong>Country:</strong>
  <%= @asset.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @asset.user %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
